.footerContainer {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: rgb(151, 149, 149);
    font-size: 0.8em;
    letter-spacing: 1.8px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .icons {
    margin-bottom: 10px; /* Espacio entre los iconos y el texto */
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .icons a {
    margin: 0 5px;
    font-size: 1.5rem;
    color: white;
  }