

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    width: 50%;
  }
  
.textContainer {
  width: 60%;
  font-size: 1rem;
}

.image {     /* Define un ancho fijo */
  border-radius: 50%;  /* Esto convierte la imagen en un círculo */
  object-fit: cover;
  width: 432px;
  height: 400px;
}

.open {
    font-size: 1.8rem;
    color: rgb(219, 218, 218);
}

.header {
    font-size: 3.3rem;
    font-weight: 100;
    margin: 0;
    line-height: 1.1;
    font-family: "Russo One", sans-serif;
    white-space: nowrap;
}

.subheader {
   font-size: 1.6rem;
   font-weight: bold;
   color: rgb(168, 163, 163);
   letter-spacing: 0.11em;
}

.text {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(102, 99, 99);
    line-height: 1.5;
    font-style: italic;
}


@media (max-width: 1100px) {
  .container {
    flex-direction: column; /* Cambia la dirección de los elementos */
    width: 100%; /* Reduce el ancho del contenedor */
    text-align: center;
  }
  .textContainer {
    width: 100%;
  }
  .header {
    font-size: 3rem; /* Reduce el tamaño del título */
    white-space: nowrap;
  }

  .open,
  .subheader {
    font-size: 1.7rem; /* Reduce los subtítulos */
  }

  .text {
    font-size: 1.4rem; /* Reduce el tamaño del párrafo */
  }

  .image {
    height: 250px; /* Reduce el tamaño de la imagen */
    width: 270px;
  }

  .container {
    padding: 30px; /* Añade espacio interior */
  }
}
/* Responsividad */
@media (max-width: 768px) {
  .header {
    font-size: 2.5rem; /* Reduce el tamaño del título */
  }

  .open,
  .subheader {
    font-size: 1.2rem; /* Reduce los subtítulos */
  }

  .text {
    font-size: 0.9rem; /* Reduce el tamaño del párrafo */
  }

  .image {
    height: 200px; /* Reduce el tamaño de la imagen */
    width: 216px;
  }

  .container {
    padding: 20px; /* Añade espacio interior */
  }
}
