@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aquire';
  src: url('../fonts/Aquire-BW0ox.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Personalización de la barra de desplazamiento para navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 2px; /* Ancho del scroll vertical */
  height: 2px; /* Altura del scroll horizontal */
}

::-webkit-scrollbar-track {
  background: black; /* Fondo transparente */
}

::-webkit-scrollbar-thumb {
  background: white; /* Color blanco */
  border-radius: 2px; /* Bordes redondeados */
}


/* Para navegadores como Firefox 
html {
  scrollbar-color: rgb(255, 255, 255) black; /* Solo el thumb es visible
  scrollbar-width: thin;
}
*/

canvas {
  z-index: -1; /* Colócalo detrás de otros elementos */
  pointer-events: none; /* Evita que intercepte eventos de clic */
}

